<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower</title>
</head>
<body>
    <div>
        <div class="topnav">
          <a href="Home.html"><img class="navbarimage" src="images/htlogo1.png" alt=""></a>
          <div class="dropdown">
            <button class="dropbtn">Products  
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="Edibles.html">Edibles</a>
              <a href="Wax.html">Wax</a>
              <a href="Flower.html">Flower</a>
            </div></div>
          <a href="Contact.html">Contact</a>
          <a href="Cart.html" class="split">Cart</a>
        </div></div>
        <div>
            <h1>Flower Menu</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img class="itempic" src="images/Forum.jpg" alt="" style="width:100%">
                    <h3 class="item">Forum Stomper</h3>
                    <p class="price">$20 per 8th</p>
                    <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                    <p><button>Add to Cart</button></p>
                  </div>
                  <div class="card">
                    <img class="itempic" src="images/sour1.png" alt="" style="width:100%">
                    <h3 class="item">Sour Stomper</h3>
                    <p class="price">$20 per 8th</p>
                    <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                    <p><button>Add to Cart</button></p>
                  </div>

            </div>
            <div class="column">
                <div class="card">
                    <img class="itempic" src="images/Creme.jpg" alt="" style="width:100%">
                    <h3 class="item">Creme De La Chem</h3>
                    <p class="price">$20 per 8th</p>
                    <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                    <p><button>Add to Cart</button></p>
                  </div>
                  <div class="card">
                    <img class="itempic" src="images/Samsquanch1.jpg" alt="" style="width:100%">
                    <h3 class="item">Samsquanch OG</h3>
                    <p class="price">$20 per 8th</p>
                    <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                    <p><button>Add to Cart</button></p>
                  </div>

            </div>
            <div class="column">
                <div class="card">
                    <img class="itempic" src="images/dg.jpg" alt="" style="width:100%">
                    <h3 class="item">Double Grape</h3>
                    <p class="price">$20 per 8th</p>
                    <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                    <p><button>Add to Cart</button></p>
                  </div>
                  <div class="card">
                    <img class="itempic" src="images/Mango1.jpg" alt="" style="width:100%">
                    <h3 class="item">Mango Smile</h3>
                    <p class="price">$20 per 8th</p>
                    <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                    <p><button>Add to Cart</button></p>
                  </div>

            </div>
          </div>

            </div>
          </div>
          <script src="site.js"></script>
</body>
<footer >
    <div class="container">
        &copy; 2022 - High Tech Labs
    </div>
</footer>
</html>