<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="layout.html">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>High Tech Labs</title>
</head>
<body>
<div>
  <div class="topnav">
    <a class="topnavimage" href="Home.html"><img class="navbarimage" src="images/htlogo1.png" alt=""></a>
    <div class="dropdown">
      <button class="dropbtn">Products  
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="Edibles.html">Edibles</a>
        <a href="Wax.html">Wax</a>
        <a href="Flower.html">Flower</a>
      </div></div>                      
    <a href="Contact.html">Contact</a>
    <a href="Cart.html" class="split">Cart</a>
  </div></div>
   
      <img class="homeimage" src="images/htlogo1.png" alt="" class="homeimage">
      <h1>Featured Products</h1>
      <div>
          <div class="row">
            <div class="column">
              <h2>Edibles</h2>
              <div class="card">
                <img class="itempic" src="jeans3.jpg" alt="" style="width:100%">
                <h3 class="item">Infused Cannabis Syrup: Grape</h3>
                <p class="price">$15</p>
                <p class="description">Grape flavored Infused Cannabis Syrup: 1000mg</p>
                <p><button>Add to Cart</button></p>
              </div>
              <div class="card">
                <img class="itempic" src="jeans3.jpg" alt="" style="width:100%">
                <h3 class="item">Infused Cannabis Syrup: Watermelon</h3>
                <p class="price">$15</p>
                <p class="description">Watermelon flavored Infused Cannabis Syrup: 1000mg</p>
                <p><button>Add to Cart</button></p>
              </div>
            </div>
            <div class="column">
              <h2>Wax</h2>
              <div class="card">
                <img class="itempic" src="images/liveresin.jpg" alt="" style="width:100%">
                <h3 class="item">Premium Live Resin</h3>
                <p class="price">$50 per 8th</p>
                <p class="description">Top Shelf Premium Live Resin</p>
                <p><button>Add to Cart</button></p>
              </div>
              <div class="card">
                <img class="itempic" src="jeans3.jpg" alt="" style="width:100%">
                <h3 class="item">Tropicana Cookies</h3>
                <p class="price">$50 per 8th</p>
                <p class="description">Top Shelf Crumble</p>
                <p><button>Add to Cart</button></p>
              </div>

            </div>
            <div class="column">
              <h2>Flower</h2>
              <div class="card">
                <img class="itempic" src="images/Forum.jpg" alt="" style="width:100%">
                <h3 class="item">Forum Stomper</h3>
                <p class="price">$20 per 8th</p>
                <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                <p><button>Add to Cart</button></p>
              </div>
              <div class="card">
                <img class="itempic" src="images/Mango1.jpg" alt="" style="width:100%">
                <h3 class="item">Mango Smile</h3>
                <p class="price">$20 per 8th</p>
                <p class="description">Top Shelf indoor flower. Genetics by Mephisto</p>
                <p><button>Add to Cart</button></p>
              </div>
                  
    <script src="site.js"></script>
</body>
<footer >
    <div class="container">
        &copy; 2022 - High Tech Labs
    </div>
</footer>
</html>